.App {
  text-align: center;
}

$primary: #f8a12f;
$secondary: #40ffa6;

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Background{
  height: 100vh;
}

.Background::after{
  content: "";
  background: url("corgis.gif");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
}

.Title{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  font-size: 20em;
  margin: auto;
  margin-top: 10vh;
  color: $primary;
  text-shadow: 0px 0px 15px rgba(0,0,0,0.9);
}

@font-face {
  font-family: CustomFont;
  src: url(langdon.regular-webfont.woff);
  }

.Login{
  margin-left: 85%;
  /* font-size: 7em; */
}




.FeaturesBackground{
  background-color: #32BAAC;
}

.featureImage {
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}