$primary: #f8a12f;
$secondary: #40ffa6;

:export{
  primary: $primary;
  secondary: $secondary;
}

.App {
  text-align: center;
  background-color: $primary;
}

.is-primary{
  color: $primary !important;
}

.is-secondary{
  color: $secondary !important;
}

.is-primary-button{
  background-color: $primary !important;
}
.is-secondary-button{
  background-color: $secondary !important;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Background {
  height: 100vh;
  background: url("images/corgis.gif");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.Background::after {
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
}

.Title {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: bold;
  font-size: calc(10px + 20vmin);
  margin: auto;
  margin-top: 10vh;
  color: $primary;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.9);
}

@font-face {
  font-family: CustomFont;
  src: url(langdon.regular-webfont.woff);
}

.Login {
  margin-left: 85%;
  /* font-size: 7em; */
}

.FeaturesBackground {
  background-color: $primary;
}

.WorkoutCard {
  margin-bottom: 4vh;
}

.FeaturesBackground {
  background-color: #32baac;
}

.featureImage {
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.login-card {
  width: 40%;
  height: 60%;
  align-self: center;
  margin-top: 10%;
}

.full-page-div {
  height: 100vh;
  width: 100%;
  background: black;
}

.background-gradient {
    background: linear-gradient(40deg, #fc6262,$primary) !important; 
}

html,
body {
  height: 100%;
  width: 100%;

}


// Workouts Page styles

.workoutsPageBody {
  background: whitesmoke;
}

.jumbotronTitle {
  margin-top: 5vh;
  margin-bottom: 2.5vh;
  height: 33vh;
}

.jumbotronView {
  margin-bottom: 2vh;
  background: white;
}

.workoutview {
  height: 53vh;
  overflow: scroll;
  overflow-x: hidden;
}

.noSearchResultsMessage {
  margin-top: 2rem;
}

.navbaritem {
  color:$secondary;
  margin-left: 0.5rem;

  transition: 0.4s;
}

.navbaritem:hover {
  color: $primary;
}

.center-div{
  margin: 0 auto;
  width: 50%;
}

.line-graph{
  width: 50%;
  height: 50%;
  text-align: center;
}

.spotify-buttons {
  display: flex;
  width: 100%;
  color: #E0E0E0
}

.spotify-login {
  display: flex;
  justify-content: center;
  width: 100%;
}

#spotify-controls  {
  margin: auto;
  margin-right: 0;
}

#spotify-logout {
  margin-left: 30%;
  height: 90%;
}

#song-info {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: bold;
  font-size: 2vh;
  height: 80%;
  width: 30%;
  margin: 0.25%;
}

#logged-out {
  display: flex;
  position: absolute;
  left: 0px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: bold;
  color: #37BBAD;

}